html,
body {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}
.main {
  flex: 1 0 auto;
}
// .container {
//   max-width: 1635px;
//   margin: 0 auto;
//   padding: 0 20px;
// }
